body {
  box-sizing: border-box;
  background-color: #eee;
  /* display: inline; */
  margin: 0;
  padding: 0;
  outline: none;
}
.shop h2 {
  background-image: linear-gradient(
    to right,
    rgb(255, 83, 83),
    rgb(255, 255, 60),
    #5fff51
  );
  background-clip: text;
  color: transparent;
  font-size: 2.5em;
}
.shop {
  text-align: center;
  border: solid 10px #d9ff2e;
  background-image: linear-gradient(to right, #ff3f3f, #16f7ff);
}
.listings img {
  height: 100px;
  width: 100px;
  border: solid 10px #cc0;
  border-radius: 0px 10px 10px 0px;
}
.card {
  display: flex;
  flex-direction: row;
  line-height: 30px;
  border: solid 5px orange;
  border-left: groove 10px #5fff51;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}
.link {
  text-decoration: none;
  color: gray;
}
.details {
  display: flex;
  flex-direction: row;
  line-height: 30px;
  border: solid 5px orange;
  border-left: groove 10px #5fff51;
  position: relative;
}
.details .content {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.details .title {
  position: absolute;
  top: 0;
}
.details button {
  border: solid 10px #0ff;
  font-size: 1.5em;
  border-radius: 10px;
  color: red;
  margin-left: auto;
  margin-right: auto;
  transform: 0.2s ease;
}
.details .desc {
  color: #444;
}
.details .button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.details button:hover {
  transform: scale(0.95);
}
